/*
font-family:Rachana;
font-size:20px;
font-weight:40px;
 input font-color:rgb(9, 55, 52);
 body background-color:rgb(245,245,245);
 */
body{
    background-color: rgb(245,245,245);
    padding: 100px 0 0 0 ;
}
/*Header */
header{
    width: 99%;
    height:80px;
    position: fixed;
    padding: 13px;
    top: 0;
    left: 0;
    z-index:5; /*header behind h1*/
    background-color:rgb(255,105,180);
    box-shadow: 0px 3px 4px 0px rgb(79, 41, 255);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

header input {
    width: 90%;
    height: 50%;
    float: left;
    padding:4px 20px 0 0 ;
    color: rgb(9, 55, 52);
    font-family:Rachana;
    font-weight: 40px;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgb(254, 161, 164);
    border-radius: 8px;
    box-shadow: none;
    outline: none;
}
 header button{
     width: 50px;
     height: 50px;
     position: absolute;
     top: 12px;
     right: 25px;
     z-index:2;
     border-radius: 25px;
     background-color: rgb(255, 253, 253);
     border: 0px #3d4f4d;
     box-shadow: none;
     outline: none;
 }
 header button svg{
     width:16px;
     height: 18px;
     position: absolute;
     top:26%;
     left: 50%;
     margin: 5px 0 0 -8px;
     cursor:pointer;
 }
header button svg .fill{
    fill:rgb(47,79,79) ;
}
/*Inputs */
.container1 .container2 .container3{
    width: 80%;
    float: left;
    padding: 20px;
}
ul.todo1 .buttoms{
    width:100px;
    height: 100px;
    position:absolute ;
    top:0;
    right:0;
}
ul.todo1 .buttoms button{
    width:50px;
    height: 50px;
    float: left;
    background: none;
    border: 5px;
    box-shadow: none;
    outline-style: none;

}
ul.todo1{
    width: 100%;
    float: left;
}
ul.todo1 li{
    width: 100%;
    float: left;
    height: 50px;
    font-size: 14px;
    font-weight:500;
    background-color: rgb(232, 238, 79);
    border-radius: 5%;
    padding-top: 15px;
    padding-left: 15px;
    position:relative;
    box-shadow: 0px 3px 4px 0px rgb(255, 132, 177,0.10);
    margin:10px;
}
ul.todo2{
    width: 100%;
    float: left;
}
ul.todo2 li{
    width: 100%;
    float: left;
    height: 50px;
    font-size: 14px;
    font-weight:500;
    background-color: rgb(155, 133, 238);
    border-radius: 5%;
    padding-top: 15px;
    padding-left: 15px;
    box-shadow: 0px 3px 4px 0px rgb(255, 132, 177,0.10);
    margin:10px;
}
ul.todo3{
    width: 100%;
    float: left;
}
ul.todo3 li{
    width: 100%;
    float: left;
    height: 50px;
    font-size: 14px;
    font-weight:500;
    background-color: rgb(238, 85, 88);
    border-radius: 5%;
    padding-top: 15px;
    padding-left: 15px;
    box-shadow: 0px 3px 4px 0px rgb(255, 132, 177,0.10);
    margin:10px;
}

button.remove {
    width: 50px;
    height: 31px;
    float: right;
    color: red;
    margin: -10px 16px -9px 0px;
    padding: 10px 7px 10px 1px;
}
button.complete {
    width: 50px;
    height: 31px;
    float: right;
    color: green;
    margin: -10px 13px 86px 36px;
    padding: 2px 0 20px 0px;
