/*
font-family:Rachana;
font-size:20px;
font-weight:40px;
 */
header{
    width: 99%;
    height:80px;
    position: fixed;
    padding: 13px;
    top: 0;
    left: 0;
    z-index:5; /*header behind h1*/
    background-color:rgb(255,105,180);
    box-shadow: 0px 3px 4px 0px rgb(79, 41, 255);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

header input {
    width: 90%;
    height: 50%;
    float: left;
    font-family:Rachana;
    font-weight: 40px;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgb(255, 228, 196, 0.9);
    border-radius: 8px;
    box-shadow: none;
    outline: none;
}
 header button{
     width: 50px;
     height: 50px;
     position: absolute;
     top: 12px;
     right: 25px;
     z-index:2;
     border-radius: 25px;
     background-color:rgb(219,112,147);
     border: 0px;
     box-shadow: none;
     outline: none;

 }
